@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Yanone+Kaffeesatz&display=swap');

:root {
    --background_color: #ffffff;
    --text_color: #000000;
    --title_color: #EFD100;
    --box_color: rgba(0, 0, 0, 0.25);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    width: 100%;
    background-color: var(--background_color);
}