@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Yanone+Kaffeesatz&display=swap');


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    width: 100%;
    background-color: var(--background_color);
}

#hero_page {
    width: 100vw;
    max-width: 100%;
    overflow: hidden;
    height: 100vh;
    background: radial-gradient(circle, var(--background_color), var(--background_color2));
}

#hero_contenu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#hero_contenu h1 {
    text-align: center;
    font-size: 3em;
    color: var(--text_color);
}

#hero_contenu p {
    color: var(--text_color);
    font-size: 1.5em;
    text-align: center;
}

.decouvrir_plus {
    display: block;
    width: fit-content;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    color: #ffffff;
    background-color: var(--title_color);
}

.decouvrir_plus:hover{
    background-color: #ffffff;
    color: var(--title_color);
    border: 1px solid var(--title_color);
    transition: all 0.5s ease;
}



#apropos{
    display: flex;
    flex-direction: column;
    margin: 50px 10px;
}

#presentation {
    margin-bottom: 30px;
}

#presentation h2 {
    font-size: 1.6em;
    color: var(--text_color);
}

#presentation p {
    color: var(--text_color);
    font-size: 1em;
}

#postit_conteiner {
    position: relative;
    height: 22em;
    margin-top: 2em;
    max-width: 100%;
    overflow: hidden;
}

.post-it {
    width: 15em;
    max-width: 100%;
    padding: 1.2em;
    border-radius: 10px;
    position: absolute;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);
    font-size: 1em;
    height: fit-content;
}

.post-it::before {
    content: '';
    position: absolute;
    top: -0.8em;
    left: 50%;
    transform: translateX(-50%);
    width: 5em;
    height: 1.2em;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 0.3em;
    box-shadow: 0 0.2em 0.3em rgba(0, 0, 0, 0.1);
}

/* Post-it BLEU */
#post-it1 {
    top: 0;
    left: 0;
    background-color: #00e5ff;
}

/* Post-it ROSE */
#post-it2 {
    top: 10em;
    left: 0;
    background-color: #ff99e5;
}

/* Post-it JAUNE */
#post-it3 {
    top: 7em;
    left: 16em;
    background-color: #f7f1a4;
}

.post-it ul{
    list-style: inside;
}

.post-it p{
    font-size: 0.9em;
}

#post-it2 ul{
    list-style: none;
}

#post-it2 li{
    display: flex;
}

#post-it2 svg{
    fill: #000000;
    transform: translateY(30%);
}

#post-it2 p{
    color: #000000;
}



#etudes {
    background-color: var(--background_color2);
    padding: 30px 10px;
}

#etudes h2 {
    text-align: center;
    color: var(--title_color2);
    font-size: 2em;
}

#specialites {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#notes {
    align-self: center;
}

table {
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 5px;
    border: 2px solid black;
    border-collapse: collapse;

}

caption {
    font-size: 2em;
    color: var(--title_color);
}

thead {
    border: 1px solid black;
    background-color: #707070;
}

th, tr {
    border: 1px solid black;
    padding: 1em;
    font-size: 1em;
    color: var(--text_color);
}

#opinion>h3{
    color: var(--title_color);
    text-align: center;
    font-size: 1.5em;
}

#avis_spe_conteiner{
    display: flex;
    flex-direction: column;
}

.avis_spe {
    background-color: var(--box_color);
    padding: 10px;
    margin: 5px 0px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.151);
}

.avis_spe h4{
    color: var(--title_color2);
    font-size: 1.3em;
}




#langages{
    display: flex;
    margin: 40px 10px;
    justify-content: space-evenly;
}

.langage {
    background-color: var(--box_color);
    padding: 10px;
    border-radius: 5px;
}

.langage svg{
    fill: var(--text_color);
    height: 5em;
    width: 5em;
    display: block;
    margin: auto;
}

.langage p{
    text-align: center;
    color: var(--text_color);
    font-size: 1.1em;
}

.langage:hover svg{
    fill: var(--title_color);
    transition: all 0.3s ease;
}

.langage:hover p{
    color: var(--title_color);
    transition: all 0.3s ease;
}



#projets {
    background-color: var(--background_color2);
    padding: 30px 10px;
    color: var(--text_color);
}

#projets h2{
    text-align: center;
    color: var(--title_color);
    font-size: 2em;
}

#projets_web {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.projet {
    background-color: var(--box_color);
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.projet img {
    max-width: 200px;
    height: auto;
    margin: 0 auto 10px auto;
    border-radius: 5px;
}

.projet h3 {
    margin: 10px 0;
    font-size: 1.5em;
    color: var(--title_color);
}

.projet p {
    flex-grow: 1;
    color: var(--text_color);
}

#source{
    color: var(--title_color2);
    text-decoration: none;
}

#source:hover{
    color: var(--text_color);
    text-decoration: underline;
    transition: all 0.5s ease;
}


#loisirs{
    padding: 50px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loisirs_card {
    background-color: var(--box_color);
    border-radius: 5px;
    max-width: 640px;
}

.photo-container {
    position: relative;
    display: inline-block;
    max-width: 100%;
}

.photo-container img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0px 0px;
}

.photo-container .photo-source {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    font-size: 0.8em;
    text-decoration: none;
    border-radius: 5px;
    color: #ffffff;
}

.photo-container .photo-source:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: #ffbb00;
    transition: all 0.3s ease;
}

#loisirs_card h3,p{
    margin: 10px;
    color: var(--text_color);
}

#loisirs_card .decouvrir_plus{
    margin-bottom: 5px;
}



footer {
    display: flex;
    justify-content: space-between;
    margin: 10px 20px;
}

#footer_liens h4{
    color: var(--text_color);
    text-align: center;
    font-size: 1.5em;
}

#footer_liens ul{
    list-style: none;
}

#footer_liens li{
    margin: 5px;
}

#footer_liens a{
    color: var(--text_color);
    text-decoration: none;
}

#footer_liens a:hover{
    color: var(--title_color);
    text-decoration: underline;
    transition: all 0.5s ease;
}


#footer_contact h4{
    color: var(--text_color);
    text-align: center;
    font-size: 1.5em;
}

#footer_contact ul{
    list-style: none;
}

#footer_contact li{
    margin: 5px;
    display: flex;
}

#footer_contact svg{
    fill: var(--text_color);
}

#footer_contact p{
    color: var(--text_color);
    transform: translateY(-35%);
}

@media screen and (min-width: 768px) {
    #apropos {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 0px;
        margin-bottom: 70px;
    }

    #presentation {
        margin-left: 20px;
        width: 40%;
    }

    #presentation h2{
        margin-left: 20px;
    }

    #postit_conteiner{
        width: 45%;
    }

    #specialites{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    #notes{
        display: flex;
        justify-content: center;
        width: 50%;
    }

    #opinion {
        width: 50%;
    }

    #projets_web {
        flex-direction: row;
    }
    .projet {
        flex: 1;
    }

    footer{
        justify-content: space-around;
    }
}