@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Yanone+Kaffeesatz&display=swap');

:root {
    --background_color: #ffffff;
    --background_color2: #D9D9D9;
    --text_color: #000000;
    --title_color: #EFBB00;
    --title_color2: #0077e6;
    --box_color: rgba(0, 0, 0, 0.13);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    width: 100%;
    background-color: var(--background_color);
}



nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menu_bouton {
    fill: var(--text_color);
    display: block;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    margin: 10px;
    height: 4.5em;
    width: 4.5em;
}

#liste_pages {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 5.5em;
    left: 1em;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 5px;
    list-style: none;
    height: auto;
    width: auto;
    justify-content: space-evenly;
    padding: 10px;
}

#liste_pages a {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 1.5em;
    text-decoration: none;
    color: #ffffff;
}

#liste_pages p{
    color: #ffffff;
    font-size: 1.1em;
}

#liste_pages a:hover p{
    color: var(--title_color);
    font-size: 1.5em;
    transition: all 0.5s ease;
}

#liste_pages svg {
    fill: #ffffff;
    height: 1.5em;
    width: 1.5em;
}

#liste_pages a:hover svg{
    fill: var(--title_color);
    transition: all 0.5s ease;
}


#bouton_mode {
    padding: 10px;
    margin: 10px;
    margin-right: 20px;
    font-size: 3em;
    background-color: var(--box_color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.5em;
    width: 1.5em;
    border: 0px;
    cursor: pointer;
}

#bouton_mode:hover {
    width: 1.7em;
    height: 1.7em;
    background-color: var(--background_color);
    transition: all 0.5s ease;
}

#bouton_mode svg {
    font-size: 1.1em;
    fill: var(--text_color);
}

#bouton_mode:hover svg {
    font-size: 1.3em;
    fill: var(--title_color);
}

.darkmode {
    --background_color: #474747;
    --background_color2: #272727;
    --text_color: #ffffff;
    --title_color: #FFA500;
    --title_color2: #3000dd;
    --box_color: rgba(0, 0, 0, 0.486);
}

#bouton_mode svg:last-child {
    display: none;
}

.darkmode #bouton_mode svg:first-child {
    display: none;
}
.darkmode #bouton_mode svg:last-child {
    display: block;
}



.separateur {
    width: 90%;
    height: 2px;
    background-color: var(--text_color);
    margin: 0px auto;
}



/*Media queries*/
@media screen and (min-width: 768px){
    body{
        display: flex;
        overflow-x: hidden;
        flex-direction: column;
    }

    nav {
        background-image: none;
        flex-flow: row nowrap;
        width: 100vw;
        height: 5em;
        position: absolute;
        background-color: var(--box_color);
        padding: 15px;
    }

    main{
        margin-top: 5em;
        flex: 1;
    }

    nav:hover{
        height: 6em;
        transition: all 0.5s ease;
    }

    nav:hover ~ main {
        margin-top: 6em;
        transition: all 0.5s ease;
    }

    #menu_bouton {
        display: none;
    }

    #liste_pages{
        all: unset;
        list-style: none;
        display: flex;
        flex-direction: row;
        gap: 20px;
        padding: 0px;
        margin: 0px;
    }

    #liste_pages svg{
        font-size: 1.4em;
    }

    #liste_pages a p{
        display: none;
        opacity: 0;
    }

    #liste_pages a:hover p{
        display: block;
        opacity: 1;
        transition: all 0.5s ease;
    }

    #bouton_mode {
        margin: 5px;
        height: 1.2em;
        width: 1.2em;
    }

    nav:hover #bouton_mode{
        height: 1.5em;
        width: 1.5em;
        transition: all 0.5s ease;
    }

    #hero_page .separateur{
        display: none;
    }
}